<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='chartist.min.css')}}">
    <script src="{{url_for('static', filename='chartist.min.js')}}"></script>
    <script src="{{url_for('static', filename='chartist-plugin-tooltip.js')}}"></script>
    <title>DroneScan</title>
  </head>

  <body>
    <div style="width: 100%;height:100%; position:absolute; margin: 0 auto;text-align:center;">
      <h1>Live Tracking</h1>
    </div>
    <br>
    <br>
  	<div class="ct-chart ct-square" style="width: 50%;height:50%; position:relative; margin: 0 auto;"></div>
  	<div style="width: 100%;height:100%; position:absolute; margin: 0 auto;text-align:center;">
      <h1 id="drone_pos">Drone Position</h1>
    </div>
  	<script src="{{url_for('static', filename='update_diagram.js')}}"></script>
  </body>
</html>